[submodule ".themes/solarized"]
	path = .themes/solarized
	url = https://github.com/erikzaadi/solarized-octopress-theme.git
[submodule ".themes/HPSTR"]
	path = .themes/HPSTR
	url = https://github.com/Z1MM32M4N/hpstr-theme.git
[submodule "_plugins/multiple-languages"]
	path = _plugins/multiple-languages
	url = git://github.com/screeninteraction/jekyll-multiple-languages-plugin.git
