---
layout: default
title: Welcome
description: "Blog about javascript, web development, game development, and anything that is interesting about software."
categories: [javascript, nodejs, emberjs, backbone, requirejs, yeoman, web-development, game-development]
keywords: javascript nodejs emberjs backbone phaser requirejs yeoman web-development game-development
image:
  feature: /images/diary-bg20.jpg
  background: colorflags-bg.jpg

---

{% assign index = true %}
{% for post in paginator.posts %}
<article class="hentry">
  {% include article.html %}
</article><!-- /.hentry -->
{% endfor %}

<div class="pagination">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <a href="/" class="btn">Previous</a>
    {% else %}
      <a href="{{ root_url }}{ paginator.previous_page }}" class="btn">Previous</a>
    {% endif %}
  {% endif %}
  <a href="{{ root_url }}/archives">Blog Archives</a>
  {% if paginator.next_page %}
    <a href="{{ root_url }}{{ paginator.next_page }}" class="btn">Next</a>
  {% endif %}
</div><!-- /.pagination -->
