---
layout: default
title: Hoşgeldin
description: "Javascript blog, web yazılım, oyun yazılım, ve yazılım hakkında ilgimi çeken herşey."
categories: [javascript, nodejs, emberjs, backbone, requirejs, yeoman, web-development, game-development]
keywords: javascript nodejs emberjs backbone phaser requirejs yeoman web-development game-development
image:
  feature: /images/diary-bg20.jpg
  background: colorflags-bg.jpg

---

{% assign index = true %}

{% assign post = paginator.posts.first %}
<article class="hentry">
  {% include article.html %}
</article><!-- /.hentry -->

{% comment %}

{% for post in paginator.posts %}
<article class="hentry">
  {% include article.html %}
</article><!-- /.hentry -->
{% endfor %}

<div class="pagination">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <a href="/" class="btn">Önceki</a>
    {% else %}
      <a href="{{ root_url }}{ paginator.previous_page }}" class="btn">Önceki</a>
    {% endif %}
  {% endif %}
  <a href="{{ root_url }}/archives">Blog Arşivi</a>
  {% if paginator.next_page %}
    <a href="{{ root_url }}{{ paginator.next_page }}" class="btn">Sonraki</a>
  {% endif %}
</div><!-- /.pagination -->

{% endcomment %}
